<div class="box">
    <h2>Register</h2>
	<form name="registerForm">
		<div>
			<label for="username">Username:*</label>
			<input type="text" name="username" id="username" ng-model="userData.username" required />
			<span class="error" ng-show="registerForm.username.$error.required && registerForm.username.$dirty">Username is required.</span>
		</div>
		<div>
			<label for="password">Password:*</label>
			<input type="password" name="password" id="password" ng-model="userData.password" required />
			<span class="error" ng-show="registerForm.password.$error.required && registerForm.password.$dirty">Password is required.</span>
		</div>
		<div>
			<label for="confirmPassword">Repeat password:</label>
			<input type="password" name="confirmPassword" id="confirmPassword" ng-model="userData.confirmPassword" required />
			<span class="error" ng-show="(userData.password != userData.confirmPassword) && registerForm.confirmPassword.$dirty">Passwords do not match.</span>
		</div>
		<div>
			<label for="name">Name:*</label>
			<input type="text" name="name" id="name" ng-model="userData.name" required />
			<span class="error" ng-show="registerForm.name.$error.required && registerForm.name.$dirty">Name is required.</span>
		</div>
		<div>
			<label for="email">Email:*</label>
			<input type="email" name="email" id="email" ng-model="userData.email" required />
			<span class="error" ng-show="registerForm.email.$error.required && registerForm.email.$dirty">Email is required.</span>
			<span class="error" ng-show="registerForm.email.$error.email && registerForm.email.$dirty">Invalid email address.</span>
		</div>
		<div>
			<label for="phone">Phone:</label>
			<input type="text" name="phone" id="phone" ng-model="userData.phone" ng-pattern="/^([0-9\(\)\/\+ \-]*)$/"/>
			<span class="error" ng-show="registerForm.phone.$error.pattern && registerForm.phone.$dirty">Invalid phone number.</span>
		</div>
		<div>
			<label for="town">Town:</label>
			<div class="select-div">
			<select id="town" ng-model="userData.townId">
				<option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
			</select>
			</div>
		</div>
		<a aDisabled="true" ng-click="register(userData)" class="button">Register</a>
	</form>
	<p>Fields marked with * are required.</p>
</div>
