<div class="box">
    <h2>Edit Profile</h2>
	<form name="editProfileForm">		
		<div>
			<label for="name">Name:</label>
			<input type="text" name="name" id="name" ng-model="userData.name" required />
			<span class="error" ng-show="editProfileForm.name.$error.required && editProfileForm.name.$dirty">Name is required.</span>
		</div>
		<div>
			<label for="email">Email:</label>
			<input type="email" name="email" id="email" ng-model="userData.email" required />
			<span class="error" ng-show="editProfileForm.email.$error.required && editProfileForm.email.$dirty">Email is required.</span>
			<span class="error" ng-show="editProfileForm.email.$error.email && editProfileForm.email.$dirty">Invalid email address.</span>
		</div>
		<div>
			<label for="phone">Phone:</label>
			<input type="text" name="phone" id="phone" ng-model="userData.phoneNumber" ng-pattern="/^([0-9\(\)\/\+ \-]*)$/"/>
			<span class="error" ng-show="editProfileForm.phone.$error.pattern && editProfileForm.phone.$dirty">Invalid phone number.</span>
		</div>
		<div>
			<label for="town">Town:</label>
			<div class="select-div">
				<select id="town" ng-model="userData.townId">
					<option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
				</select>
			</div>
		</div>
		<a ng-click="edit(userData)" class="button">Update</a>
		<a href="#/" class="button">Cancel</a>
	</form>
</div>

<div class="box">
    <h2>Change Password</h2>
	<form name="changePasswordForm">
		<div>
			<label for="odlpassword">Old Password:</label>
			<input type="password" name="oldpassword" id="odlpassword" ng-model="passwordData.oldPassword" required />
			<span class="error" ng-show="changePasswordForm.oldpassword.$error.required && changePasswordForm.oldpassword.$dirty">Old Password is required.</span>
		</div>		
		<div>
			<label for="password">New Password:</label>
			<input type="password" name="password" id="password" ng-model="passwordData.newPassword" required />
			<span class="error" ng-show="changePasswordForm.password.$error.required && changePasswordForm.password.$dirty">New Password is required.</span>
		</div>
		<div>
			<label for="confirmPassword">Repeat password:</label>
			<input type="password" name="confirmPassword" id="confirmPassword" ng-model="passwordData.confirmPassword" required />
			<span class="error" ng-show="(passwordData.newPassword != passwordData.confirmPassword) && changePasswordForm.confirmPassword.$dirty">Passwords do not match.</span>
		</div>
		<a ng-click="changePass(passwordData)" class="button">Edit Password</a>
		<a href="#/" class="button">Cancel</a>
	</form>
</div>